
.slider{
	max-width: 1240px;
	height: 300px;
	border:10px solid $colorTextRows-FunctionIcons;
	margin:80px auto;
	position: relative;
	overflow: hidden;
}

.slider .left-slide,.slider .right-slide{
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: $colorTextRows-FunctionIcons;
  border-radius: 50%;
  color:#ffffff;
  font-size: 20px;
  top:50%;
  cursor: pointer;
  margin-top: -20px;
  text-align: center;
  line-height: 40px;
}
.slider .left-slide:hover,.slider .right-slide:hover{
 box-shadow: 0px 0px 10px black;
}

.slider .left-slide{
	left: 30px;
}
.slider .right-slide{
	right: 30px;
}
.slider .slider-items .item img{
	max-width: 100%;
	height: auto;
	display: block;
	animation:zoom 1s ease;
}

@keyframes zoom{
	0%{transform: scale(2);opacity: 0}
	50%{transform: scale(2);}
	100%{transform: scale(1);opacity:1}
}
.slider .slider-items .item{
	display: none;
	position: relative;
	text-align: center;
}

.img_slide {
	width: 100%;
	height: 200px;
	background-size: cover;
	background: url("https://images.pexels.com/photos/1565982/pexels-photo-1565982.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}

.slider .slider-items .item.active{
	display: block;
}
