.desktop_widget_wrapper {
    color:$colorSuccessMessage;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 40px;
};

.widget {
    width: 150px;
    height: 150px;
    border : 1px solid $colorSuccessMessage;
    border-style: dashed;
    text-align: center;
};

.widget i {
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 15px;
    border: 5px solid $colorSuccessMessage;
    border-radius: 15px;
    padding: 7px;
};

.widget p {
    font-family: $fontOpenSans;
    font-size: 15px;
    font-weight: 600;
}