footer {
    font-family: $fontOpenSans;
    font-size: 24px;
    line-height: 65px;
    color: #fff;
    background: $header-FontColorInColumn;

    p {
        text-align: center;
        a:link, a:hover, a:visited, a:active {
            color: $buttons-Highlights-ScreenHeader;
        }

        a {
            color: $buttons-Highlights-ScreenHeader;
        }
    }
}